<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Blacklite vNext" value="https://www.myget.org/F/blacklite-vnext/" />
    <add key="AspNet 5 vNext" value="https://www.myget.org/F/aspnetrelease/api/v2" />
    <add key="xUnit.net vNext" value="https://www.myget.org/F/xunit/" />
    <add key="NuGet.org" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
