<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Blacklite vNext" value="https://www.myget.org/F/blacklite-vnext/" />
    <add key="Blacklite Common" value="https://ci.appveyor.com/nuget/common-c9hqf64j6n2i" />
    <add key="Blacklite DependencyInjection" value="https://ci.appveyor.com/nuget/dependencyinjection-4gs3yxltdlnr" />
    <add key="Blacklite.Multitenancy" value="https://ci.appveyor.com/nuget/multitenancy-3flkowtjsltb" />
    <add key="AspNet 5 vNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="NuGet.org" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
